################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capture.JPG
/Capture2.JPG
/Capture3.JPG
